<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>나는야 임성준!</title>
</head>
<body>
    <header>
        <h1><a href="home.html"> Self introduction</a></h1>
    </header>
    <nav>
        <ol>
            <li>
                <a href="name.html">Name</a>
            </li>
            <li>
                <a href="motivation.html">Motivation</a>
            </li>
        </ol>
    </nav>
    <article>
        <h2>Name</h2>
        Lim Sung Jun
    </article>
</body>
</html>